/** 
Srijan Pandey, sp3557@drexel.edu
CS530: DUI, Assignment 2
**/

.unavailable {
    opacity: .25;
}

.generic-button {
    background-color: #c0c0c0;
    border-radius: 10%;
    border:none;
    height: 35px;
    width: 35px;
}

.name-col {
    max-width: 600px;
}

.tabimage {
    max-height: 100px;
    max-width: 100px;
}

