/*Srijan Pandey, sp3557@drexel.edu*/
/* CS530, DUI Assignment 3 */

body {
    font-family: "Avenir";
    font-size: 1rem;
    background: #eee;
}

header {
    background: #354796;
}

canvas {
    background: #fff;
    position: relative;
    top: 0;
    right: 0;
}

.coef {
    width: 40px;
}

#grapher-wrapper {
    position: relative;
    left: 20px;
    top: 20px;
}

.coef-tray {
    position: relative;
    left: 230px;
    top: 10px;
}