<!-- Srijan Pandey, sp3557@drexel.edu-->
<!-- CS530: DUI, Assignment 2-->
{% extends 'base.html' %}
{% set active = "Home" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<section class="jumbotron">
    <div class="text-center">
        <h1 class="jumbotron-heading">Drexel Bikes</h1>
        <p class="lead text-muted">Love bikes? We're Here for you! </p>
        <p><img class="img-fluid" src="/static/img/philly.jpg"></p>
        <p>
            <a href="/about" class="btn btn-secondary my-2 mr-2">Learn about us</a>
            <a href="/bikes" class="btn btn-secondary my-2">See our bikes</a>
        </p>
    </div>
</section>

{% endblock %}