{% extends 'base.html' %}
{% set active = "Detail" %}

{% block header %}
    <script src = "../static/js/viewer.js"></script>
{% endblock %}

{% block title %}
Detail
{% endblock %}

{% block content %}

<div class = "container">

    <div class = "head-info">
        <div class = "row">
            <!-- Section to hold the image -->
            <div class = "col col-3">
                <img src = "{{charity.categoryImage}}" alt = "Category Image">
            </div>
            <div class = "col col-9">
                <h1> {{charity.name}} </h1>
                <img src = "{{charity.ratingImage}}" alt = "Rating Image">
                <p> {{charity.mailStreet}}</p>
                <p> {{charity.mailCity}}, {{charity.mailState}}, {{charity.mailZIP}}</p>
                <br>
                <p> Organization Website: <a href = "{{charity.websiteURL}}" >{{charity.websiteURL}}</a> </p>
                <p> Charity Navigator: <a href = "{{charity.charityNavigatorURL}}"> Detailed Analysis</a></p>
            </div>
        </div>
    </div>

    <div class = "body-info">
        <p>{{charity.mission}}</p>
    </div>

    <div class = "related-org">
        <h2 class = "related-org-header">Related Organizations</h2>
        <div class = "org-holder" id = "org-holder"></div>
    </div>

</div>


<script>
    $(document).ready(function () {
        let viewer = new Viewer();
        viewer.getRelatedCharities();
    });
</script>

{% endblock %}