{% extends 'base.html' %}
{% set active = "Home" %}

{% block header %}
    <script src = "../static/js/searchers.js"></script>
    <script src = "../static/js/viewer.js"></script>
{% endblock %}

{% block title %}
Home
{% endblock %}

{% block content %}

<section class="jumbotron">
    <div class="text-center">
        <p> Charity Search</p>
        <p class="lead text-muted">Find a worthy charity today!</p>

        <div class="search-area">
            <textarea class= "search-field" id = "search-field"></textarea>
            <button class="search-button btn" id = "search-button"> Search </button>
        </div>

        <div class="charity-block" id = "charity-block">
            <table class = "table">
                {% for ch in charities %} 
                    <tr>
                        <td>
                            <div class ="charity-address">
                                <div class="row">
                                    <div class ="col">
                                        <img src = "{{ch.categoryImage}}" alt = "Category Image">  
                                    </div>
                                    <div class ="col">
                                        <a href= "/view?uid={{ch.uid}}"> {{ch.name}} </a>
                                        <p> {{ch.mailAddress}} </p>
                                        <p> {{ch.mailCity}}, {{ch.mailState}}, {{ch.mailZIP}} </p>
                                    </div>
                                </div>
                            </div>
                        </td>

                        <td>
                            <div class = "charity-mission">
                                <p>{{ch.mission}} </p>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</section>


<script>
    $(function() {
        const searcher = new Searcher();
        console.log("Initializing...")
        
        $("#search-button").click(function() {
            console.log("Button Clicked..");
            searcher.findCharity();
        });
    });

</script>

{% endblock %}
